name: test

on:
  workflow_dispatch:
  push:

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - name: get certs
        uses: gdbarron/venafips-action@use-new-image
        # shell: pwsh
        id: get-certs
        with:
          tpp_token: ${{ secrets.VENAFI_TOKEN }}
          tpp_server: ${{ secrets.VENAFI_SERVER }}
          commands: |
            gci env:
            gci /root/.local/share/powershell/Modules
            get-module venafips -listavailable
            find-venaficertificate -first 5
            $action_out = find-venaficertificate -first 5 | ConvertTo-Json -Depth 5 -Compress
            Write-Output "::set-output name=action_out::$action_out"

      - name: test output
        shell: pwsh
        run: |
          '${{ steps.get-certs.outputs.action_out}}' | ConvertFrom-Json
