name: test

on:
  workflow_dispatch:

jobs:
  test-action:
    runs-on: ubuntu-latest
    steps:
      - uses: gdbarron/VenafiPS-action@latest
      - name: testing
        run: |
          write-output 'hi'
